*,*::before,*::after{
    box-sizing:border-box;
    font-family: Courier, sans-serif;
    font-weight: normal;
}

@media (max-width: 400px) {
    html{
    font-size: .75vh;
    }
  }

body{
    padding:0px;
    margin:0%;
    background:linear-gradient(to right,#ff00c894,#00f7ff);
}
.gamegrid{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2,30vw);
    grid-template-rows: minmax(120px,auto) repeat(3,100px);
}
button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.75);
    width: 100%;
    height:100%;
}
button:hover{
    background-color:rgba(255,255,255,.9);
}

.span-two{
    grid-column:span 2;
}

.question{
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-break: break-all;
    overflow-wrap: normal;
    color: rgba(255,255,255,.75);
    font-size: 1.5rem;
}
.score{
    font-size:1.5rem;
    background-color: rgba(0,0,0,.75);
    color: rgba(255,255,255,.75);
    padding: 5px;
}
.total{
    font-size:1.5rem;
    background-color: rgba(0,0,0,.75);
    color: rgba(255,255,255,.75);
    padding: 5px;
}
h1{
    padding:0px;
    font-size: 3rem;
    text-align: center;
    font-weight:bold;
}
